appnope==0.1.0
backports-abc==0.4
backports.ssl-match-hostname==3.5.0.1
certifi==2015.11.20.1
cffi==1.5.2
cryptography==1.2.2
decorator==4.0.9
docutils==0.12
enum34==1.1.2
futures==3.0.5
gnureadline==6.3.3
idna==2.0
ipaddress==1.0.16
ipdb==0.9.0
ipython==4.1.2
ipython-genutils==0.1.0
Jinja2==2.8
M2Crypto==0.23.0
MarkupSafe==0.23
msgpack-python==0.4.7
path.py==8.1.2
pbr==1.8.1
pexpect==4.0.1
pickleshare==0.6
ptyprocess==0.5.1
pyasn1==0.1.9
pycparser==2.14
pycrypto==2.6.1
pyOpenSSL==0.15.1
PyYAML==3.11
pyzmq==15.2.0
requests==2.9.1
salt==2015.8.7
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
stevedore==1.12.0
swigibpy==0.4.1
tornado==4.3
traitlets==4.1.0
virtualenv==14.0.6
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
web.py==0.37
wheel==0.26.0
